<% if form_obj.errors.any? %>
  <div>
    The form contains <%= pluralize(form_obj.errors.count, "error") %>.
  </div>
  <ul>
    <% form_obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
